:root{
    --primary: #E62B10;
    --secondary: #E67510;
    --secco: #E6500F;
    --primary-hl: #E61035;
    --yellowish: #E8C431;
    --shade: #E6865D;
}

.plot {
    display: none;
}
.active {
    display: block;
}

/* * {
    margin: 1px;
    padding: 1px;
} */