[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
attrs = "*"
pandas = "*"
gunicorn = "*"
aleksander = {path = "/d/aleksander"}
django-guardian = "*"

[dev-packages]
spyder-kernels = "3.0.*"
black = "*"

[requires]
python_version = "3.11"
