[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
attrs = "*"
pandas = "*"
singleton = "*"
aleksander = {path = "D:/aleksander"}
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.11"
