:root{
    --primary: #E62B10;
    --secondary: #E67510;
    --secco: #E6500F;
    --primary-hl: #E61035;
    --yellowish: #E8C431;
    --shade: #E6865D;
}

.content {
    border: 4px solid var(--secondary);
    max-height: 75vh;
}
.sidebar {
    height: 75vh;
}
.sidebar div {
    margin-top: 5px;
}

.sidebar .card-body{
    margin-top: -2px;
}
.sidebar .user-frame {
    margin-top: 0px;
    text-align: center;
}
.sidebar .footer {
    font-size: 0.6em;
    border-bottom: 2px solid var(--shade);
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.footer {
    margin-top: 15px;
}

/* * {
    margin: 1px;
    padding: 1px;
} */
/* .k1 { border: 2px solid var(--primary); } */

/*
.k3 { border: 2px solid var(--secco); }
.kphl { border: 3px solid var(--primary-hl); }
.shade { border: 2px solid var(--shade); }
.ky { border: 2px solid var(--yellowish); }
.ko { border: 2px solid goldenrod; } */