{% extends "ordering/base_site.html" %}
{% load static %}
{% block title %}New order{% endblock title %}
{% block content %}
<form id="match-filtering" method="POST" action="/order/filters/">
  {% csrf_token %}
  <div class="d-flex flex-wrap gap-1">
    <div class="card">
      <div class="form-floating mb-1 w-100">
        <input type="text" class="form-control" id="teaminput" name="team" placeholder="">
        <label for="teaminput">Team</label>
      </div>
    </div>
    <div class="card">
      <h5 class="card-title"> Filter by country and league </h5>
      <div class="d-flex flex-wrap w-100" id="countryANDleague">
        <select class="form-select form-select-sm w-50" name='country'>
            <option value="" selected>Select country</option>
            {% for country in filtercountries %}
                <option value="{{ country|slugify }}" >
                    {{ country }}
                </option>
            {% endfor %}
        </select>
        <select class="form-select form-select-sm w-50" name="league">
            <option value="" selected>Select league for country</option>
            {% for league in filterleagues %}
                <option value="{{ league|slugify }}"> {{ league }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    <div class="card">
        <h5 class="card-title">Filter by Season for league </h5>
        <select class="form-select form-select-sm" name="season">
            <option value=""> Select season from league</option>
            {% for season in seasons_from_leagues %}
              <option value="{{ season|slugify }}"> {{ season }} </option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-outline-primary btn-sm" type='submit'><span class='lh-sm inline'>GO FILTER!</span></button>
  </div>
</form>
<div class="d-flex flex-column justify-content-center">    
    <div class="order-last index-1 flex-fill">
      <form method='POST' action='/order/commit/'>
        <div class="card mt-2" id="choices-container">
            <div data-bs-toggle="collapse" data-bs-target="#choices-list">
              <h3 class="card-title mx-auto border-bottom border-primary accordion-header">Choices (click to hide)</h3>
            </div>
            <ul class="list-group justify-content-center" id="choices-list">
                {% for order_match in order_matches %}
                    <li class="list-group-item p-1 mx-1">
                      {{ order_match }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button class="btn btn-outline-primary btn-sm" type="submit">Send order.</button>
        {% csrf_token %}
      </form>
    <form id="match-listing" method="POST" action="/order/select/">
        {% csrf_token %}
        <button class="btn btn-outline-primary btn-sm" type="submit">Submit selected matches.</button>
            <div class="card">
                <h3 class="card-title mx-auto border-bottom border-primary">Matches</h3>
                <table class="table table-striped">
                    <tbody>
                      <!-- TODO: Here I have to find out something for grouping if I didn't -->
                      {% for m in filtermatches %}
                        <tr>
                          <td>
                            <input class="btn-check" type="checkbox" value="{{ m }}" id="{{ m|slugify }}" name="choices">
                            <label class="btn w-100" for="{{ m }}">
                                {{ m }}
                            </label>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
    </form>
  </div>
</div>
{% endblock content %}