{% extends 'kasbeer/base-site.html' %}

{% block meta %}
{{ super() }}
<script src="{{ static('apexcharts.js-4.5.0/dist/apexcharts.js') }}"></script>
{% endblock %}

{% block title %} Przeglądanie wyników {% endblock %}


{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('apexcharts.js-4.5.0/dist/apexcharts.css') }}">
    <link rel="stylesheet" href="{{ static('m2/custom.css') }}">
{% endblock %}

{% block content %}
    {% if errors %}
        <!-- Modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Bledy jakie wystapily podczas przetwarzania</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for err in errors %}
                    <div>
                        <h5>{{ err.analysis }}</h5>
                        <p>{{ err.message }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
            </div>
        </div>
        </div>

    {% endif %}
    {# XXX: Ajax and Charts #}
    <div id="charts">
    {% for chart_name, option in plots.items() %}
        <div id="{{ chart_name|replace(' ', '-') }}" class="plot"></div>
        <script>
            new ApexCharts(
                document.querySelector("#{{ chart_name|replace(' ', '-') }}"),
                {{ option | tojson }}
            ).render()
        </script>
    {% endfor %}
    </div>
    
{% endblock %}

{% block sidebar %}
    {{ super() }}
    <div id="data-x" class="k3 card-tertiary">
        <div class="card-header">Wybor wykresu</div>
        <div class="card-body">
            <select name="chart">
                <option>---</option>
            {% for chart_name in plots.keys() %}
            {# <div class="form-check-radio">
                <div class="form-check">
                    <label class="form-check-label w-75">
                        <span class="fs-6">{{ chart_name }}</span>
                    <input type="radio" name="chart" value="{{ chart_name }}">
                    <span class="form-check-sign"></span>
                    </label>
                </div>
            </div> #}
            <option value="{{chart_name}}">{{ chart_name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div id="other-actions" class="ky card-tertiary">
        <div class="card-header"> Inne akcje </div>
        <div class="card-body">
            {# <a href="prev"><div class="btn btn-secondary w-100">Poprzednia analiza</div></a>
            <a href="next"><div class="btn btn-secondary w-100">Następna analiza</div></a> #}
            {% if errors %}
            <div type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#errorModal">
                Pokaz bledy
            </div>
            {% endif %}
            <a href="/list">
                <div class="btn btn-secondary w-100">Wroc do listy zamowien</div>
            </a>

        </div>
    </div>
{% endblock sidebar %}

{% block javascripts %}
{{ super() }}
<script>
    $(document).ready(function() {
        $('select[name="chart"]').change(function() {
            $('.plot').removeClass('active');
            let plotIdSelector = '#' + $(this).val().replace(' ', '-');
            $(plotIdSelector).addClass('active');
        });
    });
</script>

{% endblock %}