{% extends 'kasbeer/base-site.html' %}

{% block content %}
    {{ view.error }}
{% endblock %}

{% block sidebar %}
    <div id="other-actions" class="ky card-tertiary">
        <div class="card-header"> Inne akcje </div>
        <div class="card-body">
            <a href="prev"><div class="btn btn-secondary w-100">Poprzednia analiza</div></a>
            <a href="next"><div class="btn btn-secondary w-100">Następna analiza</div></a>
            <a href="/list">
                <div class="btn btn-secondary w-100">Wroc do listy zamowien</div>
            </a>
        </div>
    </div>
{% endblock sidebar %}