{% extends 'kasbeer/kasbeer-base.html' %}
{% block card_title %} Order creation {% endblock %}

{% block sidebar %}
    <div id="match-filtering" class="k3 card-tertiary">
        <div class="card-header">Search</div>
        <div class="card-body">
            <form method="get" action="/kasbeer/order/search">
                    {{ form.as_div() }}
                <button class="btn btn-primary w-100 m-t-3" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
    <div class="k3 card-tertiary">
        <div class="card-header">Order</div>
        <div class="card-body">
        <input type="text" name="summary"
                id="order_summary" class="w-100"
                placeholder="summary">
        <div id='send_order-btn'
                class="btn btn-success w-100"
                onclick="send_order()">Send</div>
        </div>
    </div>
    <div id="other-actions" class="ky card-tertiary">
        <div class="card-header">Actions</div>
        <div class="card-body">
            <a href="/kasbeer/order/games"><div class="btn btn-secondary w-100">Show chosen games</div></a>
            <div class="btn btn-secondary w-100 disabled">Select analysis</div>
            <div id='accept_current_selections-btn'
                class="btn btn-secondary w-100"
                onclick="add_games()">Add events to order</div>
        </div>
    </div>
{% endblock sidebar %}

{% block header %}
    <h4>Search & Select games</h4>
{% endblock header %}

{% block content %}
    <form name="match_list" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input id="match_list_chosen_count" type="hidden" name="form-TOTAL_FORMS" value="0">
        <input type="hidden" name="form-INITIAL_FORMS" value="0">
        {% for mform in matches %}
            {{ mform.as_div() }}
        {% endfor %}
    </form>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ static('kasbeer/js/order-creation.js')}}"></script>
{% endblock %}
