{% extends 'kasbeer/base-site.html' %}
{% block title %} Tworzenie zamówienia {% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('windows-95-ui-kit/css/w95.css') }}">
{% endblock stylesheets%}


{% block sidebar %}
    {{ super() }}
    
    <div id="match-filtering" class="k3 card-tertiary">
        <div class="card-header"> Wyszukaj przez ... </div>
        <div class="card-body">
            <form method="get">
                    {{ form.as_div() }}
                <button class="btn btn-primary w-100 m-t-3" type="submit">
                    Szukaj
                </button>
            </form>
        </div>
    </div>
    <div class="k3 card-tertiary">
        <div class="card-header"> Meta dane zamowienia </div>
        <div class="card-body">
           <input type="text" name="summary"
                  id="order_summary" class="w-100"
                  placeholder="podsumowanie">
        </div>
    </div>
    <div id="other-actions" class="ky card-tertiary">
        <div class="card-header"> Inne akcje </div>
        <div class="card-body">
            <div class="btn btn-secondary w-100">Pokaz wybrane</div>
            <div class="btn btn-secondary w-100">Wybierz analizy</div>
            <div id='accept_current_selections-btn'
                 class="btn btn-secondary w-100"
                 onclick="add_games()">Zatwierdz wybory</div>
            <div id='send_order-btn'
                 class="btn btn-success w-100"
                 onclick="send_order()">Wyslij</div>
        </div>
    </div>
{% endblock sidebar %}

{% block content %}
    <form name="match_list" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input id="match_list_chosen_count" type="hidden" name="form-TOTAL_FORMS" value="0">
        <input type="hidden" name="form-INITIAL_FORMS" value="0">
        {% for mform in matches %}
            {{ mform.as_div() }}
        {% endfor %}
    </form>
{% endblock %}
{% block javascripts %}
    {{ super() }}
    <script src="{{ static('kasbeer/js/order-creation.js')}}"></script>
{% endblock %}
