{% extends 'kasbeer/base-site.html' %}

{% block card_title %} History {% endblock %}

{% block title %}Orders history{% endblock %}


{% block template %}
    <div class="container min-h-75">
        <table class="table table-striped">
            <thead class="sticky-top">
                {% if translation.get_language() == "pl" %}
                    <tr>
                        <th>Utworzony o</th>
                        <th>Podsumowanie</th>
                        <th>Ukończony?</th>
                        <th>Akcje</th>
                    </tr>
                {% else %}
                    <tr>
                        <th>Created at</th>
                        <th>Summary</th>
                        <th>Completed?</th>
                        <th>Show Result</th>
                    </tr>
                {% endif %}
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td> {{ order.created_at.__format__("%d-%m-%Y @ %H:%M") }} </td>
                    <td> {{ order.summary }} </td>
                    <td>
                        {% if order.complete %}
                            YES
                        {% else %}
                            NO
                        {% endif %}
                    </td>
                    <td>
                        <a href="/kasbeer/results/{{ order.id }}">
                            <div class="btn">Result</div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock template %}