<div class="modal fade" id="readmoreModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header card-header">
            <h1 class="modal-title fs-5">Read more</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center card-body">
            This is beta version, that is why some buttons are disabled.
            For example, the one with selecting analysis to calculate. In this version all possible are added.
            Platform is in english, instead of polish language. Why? - Font. For polish this require some changes and should
            be used with `gettext`.
            Searching is a little buggy. There is some kind of delay, so you have to clicked twice if you didn't see efects.
        </div>
        <div class="modal-footer card-body">
            <button type="button" class="btn-teriary" data-bs-dismiss="modal">Ok</button>
        </div>
        </div>
    </div>
</div>